
.background{
    background-image: url(../Images/bg.png);
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.psgText{
    color:white;
    font-size:10vw;
    font-family:'Minecraft';
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    margin-top:90px;
}

.introText{
    font-weight:lighter;
    color:white;
    font-size:3vw;
    font-weight:bold;
    font-family:'Segoe';
    padding:0vw 1vw 0.3vw;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.featureWrap{
    padding:7vh;
}

.cardShadow{
    box-shadow: 0.5vw 0.5vw 1vw 1vw gray;
}

.featurePic{
    width:100%;
    max-width:20vh;
    height:auto;
    padding-top:5vh;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featureIntroText{
    color:gray;
    font-size:5vw;
    font-family:'Segoe';
    text-align:center;
}

.featureText{
    color:black;
    font-size:2vw;
    padding:2vw 5vw 3vw;
    font-family:'Segoe';
    text-align:center;
    font-weight: bold;
}

.backgroundDirt{
    background-image: url(../Images/dirtBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height:120vh;
}

.modeLogo{
    width:100%;
    max-width:28vw;
    height:auto;
}

.modeLogo:hover{
    height: 30.2vw;
    width: 30.2vw;
    max-width:100%;
    height:auto;
}

.modeText{
    color:black;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
    font-size:5vw;
    font-family:'MinecraftTen';
    text-align:center
}

.modeIntroText{
    color:lightgray;
    font-size:2vw;
    font-family:'MinecraftTen';
    text-align:center;
    padding-bottom:5vh;
}

.discordText{
    font-size:2vw;
    font-family:'Segoe';
    color:black;
    padding:5vw;
    text-align: center;
}

.joinText{
    font-weight:bolder;
    color:white;
    font-size:2vw;
    font-family:'UniSans';
}


