
@font-face{
    font-family: 'Minecraft';
    src: local(Minecraft), url(./Fonts/Minecrafter.Reg.ttf) format('truetype')
}

@font-face{
    font-family: 'MinecraftTen';
    src: local(Minecraft), url(./Fonts/MinecraftTen-VGORe.ttf) format('truetype')
}

@font-face{
    font-family: 'Segoe';
    src:local(Segoe), url(./Fonts/Segoe\ UI.woff) format('woff')
}

@font-face{
    font-family: 'UniSans';
    src:local(UniSans), url(./Fonts/Uni\ Sans\ Heavy.otf) format('opentype')
}


.background2{
    background-image: url(./Images/bg2.png);
    height:'100vh';
    background-position:fixed;
    background-repeat:no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    background-attachment: fixed;
}

.background3{
    background-image: url(./Images/bg3.png);
    height:'100vh';
    background-position:fixed;
    background-repeat:no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    background-attachment: fixed;
}

@media only screen and (max-width : 640px) {
    .psgLogo{
        display: none;
    }
}

@media only screen and (max-width : 1824px) {
    .psgLogo{
        position:absolute;
        padding-top:5vw; 
        width:100%;
        max-width:25vh;
        height:auto
    }
}
