
@font-face{
    font-family: 'MinecraftTen';
    src: local(MinecraftTen), url(./Fonts/MinecraftTen-VGORe.ttf) format('truetype');
}

.minecraftFont{
    font-family:'MinecraftTen';
}

.background{
    background-image: url(./Images/bg.png);
    height:'100vh';
    background-position:fixed;
    background-repeat:no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    background-attachment: fixed;
}

.background2{
    background-image: url(./Images/bg2.png);
    height:'100vh';
    background-position:fixed;
    background-repeat:no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    background-attachment: fixed;
}

.background3{
    background-image: url(./Images/bg3.png);
    height:'100vh';
    background-position:fixed;
    background-repeat:no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    background-attachment: fixed;
}

.psglogo{
    position: absolute; 
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    height:350px;
    width:350px;
}

.mmorpglogo{
    position: absolute; 
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}

.caption{
    position: absolute;
    top: 60%;
    text-align:center;
    font-weight:bold;
    color:white;
    font-size:75px;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    transform: translate(-50%, -50%);
    font-family:'MinecraftTen';
}

.caption2{
    position: absolute;
    left:50%;
    text-align:center;
    font-weight:bold;
    color:white;
    font-size:150px;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    transform: translate(-50%, -50%);
    font-family:'MinecraftTen';
}

.survivallogo{
    position: absolute; 
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}



.intro{
    font-family: sans-serif;
    font-weight: bolder;
    color: black
}

.mmorpglogo:hover{
    height: 400px;
    width: 400px;
}

.survivallogo:hover{
    height: 400px;
    width: 400px;
}


.middle{
    position: absolute;
    top: 70%;
    left: 50%;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transform: translate(-50%, -50%);
    font-family:'Helvetica';
}

.popover{
    max-width: 500px;
}

